@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@1,300&display=swap");
* {
  color: inherit;
  margin: o;
  font-size: large;
}

body {
  line-height: 1.5;
  font-family: DM Sans;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.mobile-menu-exit {
  display: none;
}

.logo {
  height: 15%;
  width: 10%;
  align-content: center;
  padding-top: 8px;
  padding-left: 15px;
}

.logo-mobile {
  display: none;
}

.global-navbar {
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  background-color: #168C98;
  color: #FAFAFA;
  cursor: pointer;
}

.mobile-menu {
  display: none;
}

.container nav .mobile-menu-exit {
  display: none;
}

.global-mobile-nav__menu {
  border-radius: 20px;
  display: flex;
  justify-self: center;
  background-color: #168C98;
  color: #FAFAFA;
  cursor: pointer;
}

.global-mobile-nav__menu .parent-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-right: 0px;
}

.global-mobile-nav__menu a {
  color: var(--text-color);
  cursor: pointer;
  overflow: hidden;
  transition: 0.3s;
  position: relative;
  text-decoration: none;
  padding: 0 0.5em 0.25em;
}

.global-mobile-nav__menu li {
  align-self: center;
}

.complimentary-btn {
  color: #158793;
  border-color: #168C98;
  font-weight: 550;
  margin: 10px 0px;
  margin-right: 10px;
  background-color: #FAFAFA;
  color: #158793;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0px 30px;
}

.complimentary-btn:hover {
  transform: translateY(1px);
  color: #474E67;
}

.motto {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  padding: 0px 10px;
}

.motto-sub {
  display: flex;
  border: none;
  align-items: center;
  border-radius: 50px;
  padding: 0 5px;
  background-color: #FAFAFA;
  color: #171717;
  cursor: pointer;
  position: relative;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.motto-sub > p {
  align-items: center;
  margin: -2px 0px;
}

.motto-sub > img {
  margin-top: 5px;
  height: 20px;
}

.container {
  justify-content: center;
  text-align: center;
  margin: auto;
}

.home-section {
  justify-items: center;
  text-align: center;
  margin: 5px;
  color: #171717;
}

.home-section .xl span {
  font-size: 3rem;
  font-weight: 700;
  font-style: normal;
  display: inline-block;
}

.home-section .header-section {
  color: #171717;
}

.sub-header > h3 {
  font-size: 16px;
  font-weight: 400;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 0px 50px;
  text-decoration: none;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
}

.buttons .primary-btn {
  font-weight: 500;
  margin: 20px 0px;
  background-color: #168C98;
  color: #FAFAFA;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem 1.5rem;
  border: 1px solid #FAFAFA;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;
}

.buttons .primary-btn:hover {
  transform: scale(1.05);
}

.buttons .secondary-btn {
  font-weight: 500;
  margin: 20px 0px;
  background-color: #FAFAFA;
  color: #158793;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem 1.5rem;
  border: 1px solid #168C98;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;
}

.buttons .secondary-btn:hover {
  transform: scale(1.05);
}

.stand-for {
  text-align: center;
  padding-top: 20px;
}

.stand-for > h3 {
  font-weight: 500;
  font-size: 32px;
  margin-bottom: -5px;
}

.stand-for > h4 {
  font-weight: 500;
  margin-bottom: -5px;
}

.stand-for > p {
  margin: 0 7rem;
  padding: 0 10rem;
  color: #989EB3;
}

.about {
  display: grid;
  margin: 5px;
  padding-top: 20px;
  color: #171717;
}

.about-sub > h2 {
  font-size: 32px;
  font-weight: 500;
}

.main-row .cont-row {
  display: grid;
  text-align: left;
  gap: 10px;
  grid-auto-flow: row;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 10px;
  padding: 10px;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 0 auto;
}

.main-row .complimentary-row {
  display: grid;
  background-color: #F9F9FB;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 10px;
  padding: 10px;
  text-align: left;
  margin: 10px auto;
}

.main-row .complimentary-row img {
  background-color: #F9F9FB;
  margin: 0 auto;
  max-width: 90%;
}

.main-row .complimentary-row .complimentary-row-1 {
  padding: 10px;
  background-color: #F9F9FB;
}

.main-row .sub-row {
  padding: 10px;
  background-color: #F9F9FB;
}

.main-row .sub-row > h4 {
  font-size: 22px;
}

.main-row .cont-row-2 {
  display: grid;
  text-align: left;
  gap: 10px;
  grid-auto-flow: row;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 10px;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 0 auto;
}

.main-row .sub-row-1 {
  padding: 10px;
  background-color: #F9F9FB;
}

.main-row .sub-row-1 #row-img {
  justify-self: stretch;
}

.main-row .sub-row-2 {
  padding: 10px;
  background-color: #F9F9FB;
  grid-column-start: span 2;
}

.main-row .sub-row-2 img {
  width: span 2;
}

.offers-header > h3 {
  font-size: 32px;
}

.offer-row {
  display: grid;
  justify-content: center;
  grid-row-gap: 10px;
  box-sizing: border-box;
  padding: 10px;
}

.offer-row .offer-row-sub {
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: space-around;
  color: #FAFAFA;
  background-color: #168C98;
}

.offer-row .offer-text-1 {
  text-align: center;
  justify-items: center;
  max-width: 500px;
}

.offer-row .offer-text-1 > p {
  text-align: center;
  margin: -2px 0px;
}

.offer-row .offer-text-1 > h5 {
  align-items: center;
  margin: -2px 0px;
}

.offer-row .offer-row-sub > h5 {
  margin: -2px 0px;
}

.offer-row .offer-text-2 {
  justify-items: center;
  margin-left: 45px;
  padding-left: 10px;
}

.offer-row .offer-text-2 > p {
  text-align: center;
  margin: -2px 0px;
}

.offer-row .offer-text-2 > h5 {
  align-items: center;
  margin: -2px 0px;
}

.offer-row img {
  width: 20%;
}

.offer-row .tertiary-btn {
  font-weight: 600;
  margin: 50px 0px;
  background-color: #FAFAFA;
  color: #158793;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
  padding: 0rem 1rem;
  border: 1px solid #FAFAFA;
  transition: transform 0.2s ease-in-out;
}

.offer-row .tertiary-btn:hover {
  transform: scale(1.05);
  color: #474E67;
}

.faqs-header > h1 {
  font-size: 32px;
  text-align: center;
  color: #171717;
}

.faq-accordion {
  padding: 2px 0;
}

input.faq-title {
  appearance: unset;
  all: unset;
}

.faq-accordion-title label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.faq-accordion-title h2 {
  font-weight: 400;
  color: #171717;
}

.faq-accordion-title span {
  margin-left: auto;
  transition: transform .4s ease-in-out;
}

.faq-accordion-content {
  color: #171717;
  overflow: hidden;
  max-height: 0;
  transition: max-height .4s ease-in-out;
}

.faq-accordion-title:hover h2 {
  color: #171717;
}

.faq-accordion .faq-title:checked + div > label > h2 {
  font-weight: 600;
}

.faq-accordion .faq-title:checked + div > label > span {
  will-change: transform;
  transform: rotate(180deg);
}

.faq-accordion .faq-title:checked ~ .faq-accordion-content {
  will-change: max-height;
  max-height: 100px;
}

.faqs-row {
  padding-left: 10rem;
  padding-right: 10rem;
  margin-left: 50px;
  margin-right: 50px;
  text-align: left;
}

.faq-content {
  text-align: left;
}

.call {
  background-color: #168C98;
  color: #FAFAFA;
  padding: 50px;
  margin: 50px 0px;
  border-radius: 10px;
}

.call .cta {
  margin-bottom: 10px;
}

.call .cta h2 {
  font-size: 32px;
  margin: 0.5px 0px;
}

.call .cta p {
  margin-top: -2px;
  font-size: 16px;
}

.call .cta-btn {
  font-weight: 600;
  margin: 20px 0px;
  background-color: #FAFAFA;
  color: #158793;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.5rem 1rem;
  border: 1px solid #FAFAFA;
}

.footer .footer-section {
  background-color: #F9F9FB;
}

.footer .footer-section .row {
  display: flex;
  flex-wrap: wrap;
}

.footer .footer-section .footer-col {
  width: 25%;
  padding: 15px 12px;
  font-size: 18px;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 35px;
  position: relative;
}

.footer .footer-section #ul {
  list-style: none;
}

.footer .logo-alt {
  height: 10%;
  max-width: 15%;
  align-self: center;
  padding: 5px;
  margin-right: 20px;
}

.footer-col ul li {
  font-size: 16px;
  text-transform: capitalize;
  color: #171717;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 30px;
  transition: all 0.5s ease;
}

.footer-col ul li a:hover {
  color: #168C98;
  padding-left: 8px;
}

.footer-col .social-links a:hover {
  color: #158793;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  header .menu-layout {
    display: flex;
    justify-content: space-between;
  }
  header .menu-layout .mobile-menu {
    display: block;
    cursor: pointer;
    padding: 1em;
  }
  header .menu-layout nav.menu-btn {
    display: block;
  }
  header .menu-layout nav {
    display: none;
  }
  header .menu-layout nav .mobile-menu-exit {
    display: block;
    cursor: pointer;
    float: right;
    margin: .5em;
  }
  header .menu-layout nav {
    position: fixed;
    z-index: 999;
    right: 0;
    top: 0;
    background-color: #168C98;
    height: 100vh;
    width: 40%;
    border-radius: 0px;
  }
  header .menu-layout nav ul {
    display: block;
    margin-top: 5em;
  }
  header .menu-layout nav ul li {
    padding-top: 1.4em;
    align-self: flex-start;
  }
  header .menu-layout nav ul li a {
    display: block;
    font-size: 1.1em;
    width: fit-content;
    padding: 0;
  }
  a {
    color: var(--text-color);
    cursor: pointer;
    overflow: hidden;
    transition: 0.3s;
    position: relative;
    text-decoration: none;
  }
  header .menu-layout nav ul li a:hover {
    border-bottom: 3px solid var(--secondary-color);
  }
  header .menu-layout nav ul li .contact-style {
    padding: 0;
    border: 0px;
    color: var(--text-color);
  }
  .global-mobile-nav__menu a {
    cursor: pointer;
    overflow: hidden;
    transition: 0.3s;
    position: relative;
    text-decoration: none;
    padding: 0 0.5em;
  }
  header .menu-layout nav ul li .contact-style:hover {
    background: none;
  }
  .home-section .container1 .motto .header .stand-for {
    display: flex;
  }
  .logo-mobile {
    display: block;
    height: 20%;
    max-width: 25%;
    padding: 5px;
    padding-top: 1.5em;
  }
  .logo {
    display: none;
    height: 15%;
    width: 10%;
    align-content: center;
    padding-top: 8px;
    padding-left: 15px;
  }
  .global-mobile-nav__menu {
    border-radius: 20px;
    display: flex;
    align-items: flex-start;
    background-color: #168C98;
    color: #FAFAFA;
    cursor: pointer;
  }
  .parent-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-right: 0px;
    padding-left: 1em;
  }
  .complimentary-btn {
    display: none;
  }
  .header-section .xl {
    margin-bottom: 5px;
    font-size: 10px;
  }
  .header-section .xl > h1 {
    font-size: 16px;
  }
  .header-section .xl > span {
    font-size: 4em;
  }
  .sub-header {
    margin: auto;
    padding: 0rem 1.5rem;
  }
  .primary-img > img {
    display: flex;
    height: 50vh;
    width: 100%;
    object-fit: cover;
  }
  .stand-for > p {
    margin: auto;
    padding: 0em;
  }
  .about-sub > h2 {
    font-size: 30px;
  }
  .main-row {
    display: grid;
  }
  .main-row .cont-row {
    display: grid;
    text-align: left;
    gap: 10px;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
    padding: 10px;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0 auto;
  }
  .main-row .complimentary-row {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
    text-align: left;
    margin: 10px auto;
    justify-content: space-between;
    box-sizing: border-box;
    margin-right: 10px;
  }
  .main-row .complimentary-row img {
    background-color: #F9F9FB;
    max-width: 100%;
  }
  .main-row .sub-row {
    padding: 10px;
    background-color: #F9F9FB;
  }
  .main-row .sub-row > h4 {
    font-size: 22px;
  }
  .main-row .cont-row-2 {
    display: grid;
    text-align: left;
    gap: 10px;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0 auto;
  }
  .main-row .sub-row-1 {
    padding: 10px;
    background-color: #F9F9FB;
  }
  .main-row .sub-row-1 #row-img {
    justify-self: stretch;
  }
  .main-row .sub-row-2 {
    padding: 10px;
    background-color: #F9F9FB;
    grid-column-start: span 2;
    margin-right: 10px;
  }
  .main-row .sub-row-2 img {
    width: span 2;
  }
  .offer-row {
    display: grid;
    justify-content: center;
    box-sizing: border-box;
  }
  .offer-row .offer-row-sub {
    display: flex;
    flex-direction: column;
  }
  .offer-row .offer-text-1 {
    text-align: left;
    justify-items: center;
    max-width: 500px;
  }
  .offer-row .offer-text-1 > p {
    align-items: center;
    margin-top: 10px;
    padding-top: 10px;
  }
  .offer-row .offer-text-2 {
    text-align: left;
    justify-items: center;
    max-width: 500px;
    margin-right: 45px;
    padding-right: 10px;
  }
  .offer-row .offer-text-2 > p {
    align-items: center;
    margin-top: 10px;
    padding-top: 10px;
  }
  .offer-row img {
    padding: 20px;
    margin: 0px 5px;
    width: 90%;
  }
  .offer-row .tertiary-btn {
    font-weight: 600;
    margin: 50px 0px;
    background-color: #FAFAFA;
    color: #158793;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border: 1px solid #FAFAFA;
    transition: transform 0.2s ease-in-out;
  }
  .offer-row .tertiary-btn:hover {
    transform: scale(1.05);
    color: #474E67;
  }
  .faq-accordion-title label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .faqs-row {
    padding: 0px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: left;
  }
  .cta > p {
    padding: 0px 30px;
    padding-top: 20px;
  }
  .footer .footer-section .row {
    display: flex;
    flex-direction: column;
  }
  .footer .footer-section .row .logo-alt {
    max-width: 50%;
    align-self: flex-start;
  }
  .footer .footer-section .row .footer-col {
    width: 25%;
    font-size: 18px;
    text-align: left;
    text-transform: capitalize;
    margin-bottom: 5px;
    position: relative;
  }
  .footer .footer-section .row .footer-col #ul {
    list-style: none;
  }
  .footer .footer-section .row .social-links {
    display: flex;
    flex-direction: row;
  }
  .footer .footer-section .row .social-links a {
    height: 40px;
    width: 30px;
    transition: all 0.5s ease;
  }
}
